{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for product in wishlist_items %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{product.item.image.url}}" alt="Image"></a>
                                                    <p>{{product.item.title}}</p>
                                                </div>
                                            </td>
                                            <td>Rs. {{product.item.price}}</td>
                                            <td><a href="{{product.item.get_cart_slug}}"><button class="btn-cart">Add to Cart</button></a></td>
                                            <td><a href="{{product.delete_wishlist_slug}}"><button><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
{% endblock %}